@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: var(--andes-white);
  --foreground: var(--andes-gray-900);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--andes-white);
    --foreground: var(--andes-gray-900);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--andes-font-family);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
